venv/

script/llm_soluce/
script/ner_annotations/
script/novum_annotations/
script/NER/fine_tuning_par_transformers/
script/NER/best_params.json
script/NER/epoch_metrics.json
script/NER/optimisation.py
script/NER/optimization_history.html
script/NER/overfitting_curves.png
script/NER/param_importances.html
script/NER/plot_overfitting.py
script/NER/predict_sentences.py
script/NER/train.py
script/txt2sent.py

src/SF_NER/
src/SF_NER_final_model/model.safetensors
src/tmp_optuna
src/notes_pour_ontologie.txt

tmp/

tmp.py