/venv/
tmp.py
/tmp/
/src/tmp_optuna/
/a_ranger/
/src/novum_detection/
/script/novum_detection/fine_tuning_par_transformers
/src/camembert-ner/
/src/camembert-ner-final/
results.txt
sauvegarde_serveur
/script/
extraction_results.jsonl
/langextract_env/