venv/

script/llm_soluce/
script/ner_annotations/
script/novum_annotations/
script/novum_detection/fine_tuning_par_transformers/
script/novum_detection/best_params.json
script/novum_detection/epoch_metrics.json
script/novum_detection/optimisation.py
script/novum_detection/optimization_history.html
script/novum_detection/overfitting_curves.png
script/novum_detection/param_importances.html
script/novum_detection/plot_overfitting.py
script/novum_detection/predict_sentences.py
script/txt2sent.py

src/20_epoch/
src/30_epoch/
src/camembert_ner_final/model.safetensors
src/tmp_optuna

tmp/

d.py
tmp.py